{% extends 'base.html' %}


{% block title %} | cementSearch Result {% endblock %}
{% block content %}
{% load humanize %}
<br>



<!-- Intro section end -->
<div class="w3-hide-small w3-container w3-row w3-row-padding w3-padding-16 w3-content" style="width:75%">

<br>
<div class="w3-container">
  <a href="/store/collections/satyanarayanpuja">
<img src="https://i.postimg.cc/B6M7DZqK/Add-a-subheading-8-1.png" alt="Norway" style="width:20%">
</a>
</div>
<br>
  <div class="w3-col s3 w3-margin-bottom">
   <span class="w3-center">
    <a href="/store/collections/satyanarayanpuja">
      
    <img src="https://i.postimg.cc/26J6K2V0/carpenter-1.png" alt="Norway" style="width:100%">
      </a>
  </span>
  
  </div>
  <div class="w3-col s3 w3-margin-bottom">
      <span class="w3-center">
        <a href="/store/collections/mahadev%20puja">
         
        <img src="https://i.postimg.cc/SRM5p7GS/carpenter-2.png" alt="Norway" style="width:100%">
         </a>
      </span>
    
     </div>
     <div class="w3-col s3 w3-margin-bottom">
      <span class="w3-center">
        <a href="/store/collections/namkaran%20puja">
        <img src="https://i.postimg.cc/8kZ3qcBf/carpenter-3.png" alt="Norway" style="width:100%">
      </a>
      </span>
  
     </div>
  <div class="w3-col s3 w3-margin-bottom">
      <span class="w3-center">
        <a href="/store/collections/talk%20to%20pandit%20ji">
       <img src="https://i.postimg.cc/QNSz7CFx/carpenter-4.png" alt="Norway" style="width:100%">
      </a>
      </span>
     
     </div>
</div>
<!-- small screen -->
<div class="w3-hide-large w3-hide-medium w3-container w3-row  w3-padding-16">

<br>
<div class="w3-container">
  <a href="/store/collections/satyanarayanpuja">
<img src="https://i.postimg.cc/B6M7DZqK/Add-a-subheading-8-1.png" alt="Norway" style="width:40%">
</a>
</div>
<br>

<div class="w3-col s6 w3-margin-bottom">
 <span class="w3-center">
<a href="/store/collections/satyanarayanpuja">
      
    <img src="https://i.postimg.cc/26J6K2V0/carpenter-1.png" alt="Norway" style="width:100%">
      </a>
    </span>
 
</div>
<div class="w3-col s6 w3-margin-bottom">
    <span class="w3-center">
      <a href="/store/collections/mahadev%20puja">
         
        <img src="https://i.postimg.cc/SRM5p7GS/carpenter-2.png" alt="Norway" style="width:100%">
         </a></span>

   </div>

   <div class="w3-col s6 w3-margin-bottom">
    <span class="w3-center">
      <span class="w3-center">
       <a href="/store/collections/namkaran%20puja">
        <img src="https://i.postimg.cc/8kZ3qcBf/carpenter-3.png" alt="Norway" style="width:100%">
      </a></span>
      
   </div>
<div class="w3-col s6 w3-margin-bottom">
  <span class="w3-center">
   <a href="/store/collections/talk%20to%20pandit%20ji">
       <img src="https://i.postimg.cc/QNSz7CFx/carpenter-4.png" alt="Norway" style="width:100%">
      </a></span>
 
   </div>
   </div>
<br>
<div class=" w3-content" style="width:75%">
<div class="w3-hide-small w3-hide-medium w3-hide-large swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000" >
  <div class="slider-container">
      <div><img src="../assets/img/brandlogos/css-3.svg" alt="..."></div>
      <div><img src="../assets/img/brandlogos/DWLogoColor_sm.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/javascript-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/bootstrap-5.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/eslint-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/github-2.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/html-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/svelte-wordmark-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/next-js.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/webpack-icon.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/react-2.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/star-wars-4.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/vue-9.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/meteor-5.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/nuxt-2.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/nodejs-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/prettier-2.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/angular-icon-1.svg" loading="lazy" alt="..."></div>
      <div><img src="../assets/img/brandlogos/github-icon.svg" loading="lazy" alt="..."></div>
  </div>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>

<!--off-->

<div class="  max-w-9xlw3-row  w3-container">
    <div class="w3-col  s9 ">

<div class="w3-hide-small">

  <div class="">
    <a href="/store/collections/satyanarayanpuja">
  <img src="https://i.postimg.cc/50Lk0c0h/Add-a-subheading-7-1.png" alt="Norway" style="width:25%">
  </a>
  </div>
  <br>
<div class="    grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-4 xl:grid-cols-4 gap-2">
    <!--Card 1-->
      {% for cement in cements %}
      
      <div class="rounded overflow-hidden">
        <a href="{% url 'cement_detail' cement.id %}" class="cement-img">
      <img class="w-full" src="{{cement.cement_photo.url}}" alt="Mountain">
      <button class="px-4 w3-btn w3-block w3-sand"><small>Book</small> <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
  
      </div>
      {% endfor %}
  </div>
</div>
    </div>
    <div class="w3-col s3  w3-center w3-hide-small">
      
    </div>
  </div>
<!--small-->
<div class="w3-hide-large w3-hide-medium">
  <div class="">
    <a href="/store/collections/satyanarayanpuja">
  <img src="https://i.postimg.cc/50Lk0c0h/Add-a-subheading-7-1.png" alt="Norway" style="width:30%">
  </a>
  </div>

    <div class="py-4">
    
      <div class="">
          <div class="   max-w-9xl  grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-2 gap-2">
            <!--Card 1-->
            {% for cement in cements %}
            <div class="rounded overflow-hidden  py-2">
              <a href="{% url 'cement_detail' cement.id %}" class="cement-img">
                <img class="w-full" src="{{cement.cement_photo.url}}" alt="Mountain">
                <button class="px-4 w3-btn w3-block w3-sand"><small>Book</small> <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></a>
  
            </a>
              <div class="px-6 py-4">
                <div class="font-bold text-l mb-2">
                </div>
               
                  <span class="text-xs inline-block py-1 px-2  rounded text-gray-600  last:mr-0 mr-1">
        
               
                </span>
              </div>
          
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
<br><br><br><br>


</div>


{% endblock %}