{% extends 'store/layouts/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}

    <div class="w3-container w3-content w3-center w3-hide-small"  style="width: 650px;" id="band">
      <div class="w3-row w3-container">
        <br>
        <div class="w3-col s3 "><p>
          <a href="/store/collections/Astrologer">
          <img height="155" src="https://i.postimg.cc/cJYWm9h0/HOME-SERVICE-3.png" alt="...">
           </a>  
        </p></div>
        <div class="w3-col s3">
          <a href="/cements/cementsearch?">
          <img height="155" src="https://i.postimg.cc/LXP674VY/HOME-SERVICE-4.png" alt="...">
           </a>  
        </div>
        <div class="w3-col s3 "> 
          <a href="/store/collections/kundli">
          <img height="155" src="https://i.postimg.cc/vmx4Fw7n/HOME-SERVICEvmhvhjh.png" alt="...">
          </a>
        </div>
        <div class="w3-col s3 ">
          
          <a href="/store/collections/muhurat">
        <img height="155" src="https://i.postimg.cc/jdcyqTpn/qqqydfygffgff.png" alt="...">
        </a>
        </div>
       </div> 
      </div>
  <!--small-->

  <div class="w3-container w3-content w3-center w3-hide-small"  style="width: 970px;" id="band">
    <div class="w3-row w3-container">
      <br>
      <div class="w3-col s3 w3-rouder "><p>
        
        <img height="75" src="https://i.postimg.cc/NfCxSZ37/Add-a-little-bit-of-body-text-19.png" alt="...">
         
      </p></div>
      <div class="w3-col s3 w3-rouder "><p>
      
        <img height="75" src="https://i.postimg.cc/DfBQ4twk/Add-a-little-bit-of-body-text-18.png" alt="...">
         
      </p></div>
      <div class="w3-col s3 w3-rouder "><p>
       
        <img height="75" src="https://i.postimg.cc/9X8TQZLc/Add-a-little-bit-of-body-text-17.png" alt="...">
       
      </p></div>
      <div class="w3-col s3 w3-rouder "><p>
        
        <img height="75" src="https://i.postimg.cc/ZYMBSZqR/Add-a-little-bit-of-body-text-15.png" alt="...">
  
      </p></div>
     </div> 
    </div>

  




  <div class="w3-hide-large w3-hide-medium w3-container w3-container" style="width: 357px;" >
      <div class="w3-row">
        <div class="w3-col s4 "><p>
          <a href="/store/collections/Astrologer">
            <img height="115" src="https://i.postimg.cc/cJYWm9h0/HOME-SERVICE-3.png" alt="...">
             </a>  
        </p></div>
        <div class="w3-col s4  w3-center"><p>
          <a href="/cements/cementsearch?">
            <img height="115" src="https://i.postimg.cc/LXP674VY/HOME-SERVICE-4.png" alt="...">
             </a>  
        </p></div>
        <div class="w3-col s4  w3-center"><p>
          <a href="/store/collections/kundli">
            <img height="115" src="https://i.postimg.cc/vmx4Fw7n/HOME-SERVICEvmhvhjh.png" alt="...">
            </a>
        </p></div>
      </div>
      <div class="w3-row">
        <div class="w3-col s4  w3-center"><p>
          <a href="/store/collections/muhurat">
            <img height="115" src="https://i.postimg.cc/jdcyqTpn/qqqydfygffgff.png" alt="...">
            </a>
        </p></div>

        <div class="w3-col s4  w3-center"><p>
         
            <img height="115" src="https://i.postimg.cc/tRhZ7Tdr/HOME-SERVICEfdfdfdfdf.png" alt="...">
          
        </p></div>

        <div class="w3-col s4  w3-center"><p>
          
            <img height="115" src="https://i.postimg.cc/tRhZ7Tdr/HOME-SERVICEfdfdfdfdf.png" alt="...">
          
        </p></div>
      </div>
      
  <div class=" w3-content w3-container w3-hide-small" style="width: 907px;">
  <br>
  <img height="115" src="https://i.postimg.cc/1XDMX4Cm/Add-a-little-bit-of-body-textnnnnnnnnnnnnn.png" alt="...">
       
</div>

<!--small-->
      
  <div class=" w3-hide-large w3-hide-medium">
    <div class="w3-row">
    <div class="w3-col s6">
      <img height="55" src="https://i.postimg.cc/NfCxSZ37/Add-a-little-bit-of-body-text-19.png" alt="...">
    </div>
    <div class="w3-col s6">   
        <img height="55" src="https://i.postimg.cc/DfBQ4twk/Add-a-little-bit-of-body-text-18.png" alt="...">
    </div>
  </div>
   
  <div class="w3-row">
    <div class="w3-col s6">
      <img height="55" src="https://i.postimg.cc/9X8TQZLc/Add-a-little-bit-of-body-text-17.png" alt="...">
    </div>
    <div class="w3-col s6">   
        <img height="55" src="https://i.postimg.cc/ZYMBSZqR/Add-a-little-bit-of-body-text-15.png" alt="...">
    </div>
  </div>
  </div>

   </div>   
<div class="row w3-hide-large  w3-hide-medium">
<!--small-->

<div class="w3-container  max-w-2xl w3-container  w3-center  "  >
  <div class=" w3-container py-3 px-4">
    <img height="20" src="https://i.postimg.cc/NjMHX4jN/Add-a-little-bit-of-body-text-20-1.png" alt="...">
  </div>
     <div class="swiffy-slider slider-item-reveal slider-nav-round slider-item-ratio slider-item-ratio-19x8" id="slider1">
      <ul class="slider-container">
          <li><img height="30" src="https://i.postimg.cc/ryDFSH05/Add-a-little-bit-of-body-text-6.png" loading="lazy" alt="...">
         </li>
          <li><img height="300" src="https://i.postimg.cc/nLhQZzXm/Add-a-little-bit-of-body-text-4.png" loading="lazy" alt="..."></li>
          <li><img height="300" src="https://i.postimg.cc/QNbSJBpL/Add-a-little-bit-of-body-text-3.png" loading="lazy" alt="..."></li>
     </ul>
  
      <button type="button" class="slider-nav" aria-label="Go left"></button>
      <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  
      <div class="slider-indicators slider-indicators-square d-none d-md-flex">
          <button class="active" aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
      </div>
  
      <div class="slider-indicators slider-indicators-sm slider-indicators-dark slider-indicators-round d-md-none slider-indicators-highlight">
          <button class="active" aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
          <button aria-label="Go to slide"></button>
      </div>
  </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>
</div>

        <div class="col-md-12 w3-hide-small w3-hide-large w3-hide-medium">
          <br><br>
          <div class="conatiner">
            <p class=" w3-container w3-hide-small"> 
      
                 <img
                 height="45"
                 src="https://i.postimg.cc/MGQz59wm/dweweqwq2323-1.png"
                 alt="First slide"
               />  
            </p>  
            <p class="w3-container w3-hide-large w3-hide-large container"> 
                
              <img
              height="35"
              src="https://i.postimg.cc/MGQz59wm/dweweqwq2323-1.png"
              alt="First slide"
            />  
         </p>
         </div>

       

            <div class="conatiner row owl-carousel owl-theme">
            {% for item in trending_products %}
                <div class="product_data item">
                    <div class=" p-4 mb-6 bg-white rounded">
                        <div class="card-body ">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="category-image">
                                    <img src="{{ item.product_image.url }}" alt="Product image" class="w-100"/>
                                </div>
                                <h6 class="">{{ item.name }}</h6>
                            </a>
                            <span class="float-start w3-opacity"><s> ₹ {{ item.original_price }}</s> </span>
                            <span class="float-end"> ₹ {{ item.selling_price }}</span>
                            <br>
                            <div class="row mt-2">
                             
                                <div class="col-md-6 px-0">
                                    <span class="mb-2">
                                        {% if item.quantity > 0 %}
                                            <button type="button" class="btn btn-danger btn-sm py-2 addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger btn-sm  py-2 disabled">Out of Stock</button>
                                        {% endif %}
                                    </span>   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 <!-- why us-->

 <div class="w3-row-padding w3-content w3-hide-small" style="width: 907px;">
  <div class=" w3-container py-4">
  <img height="30" src="https://i.postimg.cc/NjMHX4jN/Add-a-little-bit-of-body-text-20-1.png" alt="...">
</div>
  
  <div class="w3-col s3">
    
    <img
    height="300"
    src="https://i.postimg.cc/HsHmDf2d/Website-Design-and-Development-t-1.png"
    alt="First slide"
  />  
  </div>
  <div class="w3-col s3">
    
    <img
    height="300"
    src="https://i.postimg.cc/L856wc9h/Website-Design-and-Development-t-2.png"
    alt="First slide"
  />  
  </div>
  <div class="w3-col s3">
    <img
    height="300"
    src="https://i.postimg.cc/6p8tYCcv/Website-Design-and-Development-t-3.png"
    alt="First slide"
  />  
  </div>
  <div class="w3-col s3">
    <img
    height="300"
    src="https://i.postimg.cc/TwJ6p0dZ/Website-Design-and-Development-t-4.png"
    alt="First slide"
  />  
  </div>

 

</div>
<div class=" w3-content w3-container w3-hide-small" style="width: 907px;">
  <br>
  <img height="115" src="https://i.postimg.cc/1XDMX4Cm/Add-a-little-bit-of-body-textnnnnnnnnnnnnn.png" alt="...">
       
</div>
<div class="w3-container  w3-hide-large w3-hide-medium" style="width: 70px;">

  <br>
  <img height="49" src="https://i.postimg.cc/1XDMX4Cm/Add-a-little-bit-of-body-textnnnnnnnnnnnnn.png" alt="...">
       
</div>

<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:800px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">ABOUT US</span></h5>
    <p>
      Welcome to our astrologer and pandit booking website! We are your one-stop destination for connecting with trusted and experienced astrologers and pandits for all your spiritual and astrological needs. Our platform simplifies the process of finding and booking these experts, ensuring a hassle-free experience for you.

Whether you seek guidance in astrology, horoscope reading, vastu shastra, tarot reading, or require the services of a pandit for performing rituals and ceremonies, our website offers a diverse range of professionals to choose from. Each astrologer and pandit featured on our platform is thoroughly verified, ensuring authenticity and reliability.

With our user-friendly interface, you can easily browse through profiles, read customer reviews, and select the perfect expert that resonates with your requirements. Our goal is to provide a seamless and convenient booking experience, empowering you to access spiritual guidance and perform rituals with ease. Book your preferred astrologer or pandit today and unlock the wisdom of the cosmos.
    </p>
   </div>
   </div>
   <br><br>

<!-- Footer -->
<footer class="text-center text-lg-start  text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p>
                
Astromoon, your gateway to connecting with skilled astrologers and pandits. Explore and book their services seamlessly on our platform for a transformative spiritual experience..
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
          
     
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->

            <p>
              <a href="aboutus.html" class="text-reset">About US</a>
            </p>
            <p>
              <a href="tream.html" class="text-reset">Team And condition</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Careers</a>
            </p>
        
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Darbhanga| Bihar</p>
           
            <p><i class="fas fa-phone me-3"></i> 7004197301</p>
          
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(25, 4, 103, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">astromoon.in powered by builderstore.in</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


{% endblock content %}

{% block scripts %}
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true, 
    autoplayTimeout:4000,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})


</script>

{% endblock scripts %}